// Colors used on site
$firstColor: orangered;
$secondColor: chocolate;
$thirdColor: orange;
$fourthColor: dimgray;
$fifthColor: red;
$sixthColor: white;
$seventhColor: black;

$mainMenuBGC: orange;
$siteBGC: dimgray;
$headerC: orangered;

// Nav colors
$navBGC: orange;
$navBGCHover: white;

$zeroVar: 0;